<div class="container">
  <h1>Registreer</h1>
  <form class="form">
    <mat-form-field class="input">
      <input matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field class="input">
      <input matInput placeholder="Wachtwoord">
    </mat-form-field>
    <mat-form-field class="input">
      <input matInput placeholder="Herhaal wachtwoord">
    </mat-form-field>
    <mat-form-field class="input">
      <input matInput placeholder="Verificatie nummer">
    </mat-form-field>
    <button class="button_blue">REGISTREER</button>
    <a id="koopLink" href="#">KOOP VERIFICATIE NUMMER</a>

  </form>
</div>
