.container {
  width: 100vw;
  height: 100vh;
  background-color: #1a237e;
  font-family: Roboto, 'Open-sans', sans-serif;
}

h1 {
  width: 100vw;
  height: 5vh;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding-top: 5vh;
}

.error_email{
  padding-top:15px;
  width:100%;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: white;
  border-radius: 20px 20px 0px 0px;
  height: 90vh;
}

.form .input {
  width: 80vw;
  margin-left: 10vw;
  margin-bottom: 5px;
}
.form .input:nth-child(1){
  margin-top:20px;
}

.button_blue {
  width: 50vw;
  margin-left: 25vw;
}
.button_white{
  width:40vw;
  text-align: center;
}



@media screen and (min-width: 500px) {
  .container {
    position: relative;
  }

  h1 {
    color: white;
    font-weight: bold;
    font-size: 24px;
    top: 10vh;
    position: absolute;
    left: 30vw;
    width: 100px;
  }

  .form {
    width: 40vw;
    height:unset;
    border-radius: 20px;
    left: 30vw;
    top: 20vh;
    position: absolute;
  }

  .form .input {
    width: 20vw;
    margin-top:10px;

  }

  .button_blue {
    width: 20vw;
    margin: 0;
    margin-left: 10vw;
    margin-top: 5vh;
  }

  #koopLink {
    width: 20vw;
    margin-left: 10vw;

  }
}
