<div class="container">
  <div style="display: block" class="graph">
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
      [legend]="barChartLegend" [chartType]="chartType">
    </canvas>
  </div>
  <div class="container_white">
    <div class="tabs">
      <button #tab1 id="selected" class="tab" (click)='switch(tab1,tab2);getIncomes()'>Inkomen</button>
      <button #tab2 class="tab" (click)='switch(tab2,tab1);getOutcomes()'>Uitgave</button>
    </div>
    <div class="metadata">
      <p>Oversight</p>
      <p> € {{getUser().calculateOversight()}}</p>
    </div>
    <div class="transactions">
      <div *ngFor='let transaction of getTransactions(); index as i'>
        <div class="transaction" [ngStyle]="{'background-color':i % 2 == 0?'#f6f5f6':'white'}">
          <mat-icon [ngStyle]="{'color': transaction.category.color, 'background-color':i % 2 == 0?'white':'#f6f5f6'}"
            class="icon">{{transaction.category.icon}}
          </mat-icon>
          <p class="name">{{transaction.name}}</p>
          <p class="amount">€ {{transaction.amount}}</p>
          <p class="date">
            {{transaction.date.toLocaleDateString()}}
          </p>
        </div>
      </div>
    </div>
    <div class="error" *ngIf="error!==''">
      <p>{{error}}</p>
    </div>
    <div class="options">
      <div class="incomeCategory" *ngIf=incomeActive>
        <mat-form-field>
          <mat-label>Categorie</mat-label>
          <mat-select (selectionChange)='updateIncomeCategory($event)'>
            <mat-option *ngFor='let category of getUser().getIncomeCategories()' [value]='category.name'>
              {{category.name}}
            </mat-option>
            <mat-option value="all">
              Allemaal
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="outcomeCategory" *ngIf=!incomeActive>
        <mat-form-field>
          <mat-label>Categorie</mat-label>
          <mat-select (selectionChange)='updateOutcomeCategory($event)'>
            <mat-option *ngFor='let category of getUser().getOutcomeCategories()' [value]='category.name'>
              {{category.name}}
            </mat-option>
            <mat-option value="all">
              Allemaal
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
