<div class="container">
  <div class="graphs">
    <div style="display: block" class="graph" *ngIf='chartActive===0 && smallScreen() || !smallScreen()'
      (swipeleft)=swipeLeft() (swiperight)=swipeRight()>
      <p class="graphTitel">Wekelijkse transactie</p>
      <canvas baseChart [datasets]="chart1Data" [labels]="chart1Labels" [options]="chart1Options"
        [legend]="chart1Legend" [chartType]="chart1Type" [colors]="chartColors" *ngIf='noError();'>
      </canvas>
      <p *ngIf='!noError()' class="noGraph">Geen grafiek mogelijk.</p>
    </div>

    <div style="display: block" class="graph" id="graph2" *ngIf='chartActive===1 && smallScreen() || !smallScreen()'
      (swipeleft)=swipeLeft() (swiperight)=swipeRight()>
      <p class="graphTitel">Verhouding categorieën</p>
      <canvas baseChart [datasets]="chart2Data" [labels]="chart2Labels" [options]="chart2Options"
        [legend]="chart2Legend" [chartType]="chart2Type" [colors]="pieColors" *ngIf='noError();'>
      </canvas>
      <p *ngIf='!noError()' class="noGraph">Geen grafiek mogelijk.</p>
    </div>

    <div style="display: block" class="graph" *ngIf='chartActive===2 && smallScreen() || !smallScreen()'
      (swipeleft)=swipeLeft() (swiperight)=swipeRight()>
      <p class="graphTitel">Wekelijks totaaloverzicht</p>
      <canvas baseChart [datasets]="chart3Data" [labels]="chart3Labels" [options]="chart3Options"
        [legend]="chart3Legend" [chartType]="chart3Type" [colors]="chartColors">
      </canvas>
    </div>

    <div style="display: block" class="graph" *ngIf='chartActive===3 && smallScreen() || !smallScreen()'
      (swipeleft)=swipeLeft() (swiperight)=swipeRight() id="totalYearChart">
      <p class="graphTitel">Jaarlijks totaaloverzicht</p>
      <mat-form-field class="updateTotalYear">
        <mat-label>Jaartal</mat-label>
        <mat-select (selectionChange)='updateTotalYear($event)'>
          <mat-option *ngFor='let year of getUser().getAllYears()' [value]='year'>
            {{year}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <canvas baseChart [datasets]="chart4Data" [labels]="chart4Labels" [options]="chart4Options"
        [legend]="chart4Legend" [chartType]="chart4Type" [colors]="chartColors">
      </canvas>
    </div>
  </div>

  <div class="container_white">
    <div class="tabs">
      <button #tab1 id="selected" class="tab" (click)='switch(tab1,tab2);getIncomes()'>Inkomen</button>
      <button #tab2 class="tab" (click)='switch(tab2,tab1);getOutcomes()'>Uitgave</button>
    </div>

    <div class="metadata">
      <p>Oversight</p>
      <p> € {{getUser().calculateShortOversight()}}</p>
      <button class="addTransaction" (click)='openDialog()'>Voeg transactie toe</button>
      <div class="error" *ngIf="error!==''">
        <p>{{error}}</p>
      </div>
    </div>

    <cdk-virtual-scroll-viewport class="transactions" itemSize="20" style="height: 25vh">
      <ng-container *cdkVirtualFor='let transaction of getTransactions(); index as i'>
        <div class="transaction" [ngStyle]="{'background-color':i % 2 == 0?'#f6f5f6':'white'}">
          <mat-icon [ngStyle]="{'color': transaction.category.color, 'background-color':i % 2 == 0?'white':'#f6f5f6'}"
            class="icon">{{transaction.category.icon}}
          </mat-icon>
          <p class="name">{{transaction.name}}</p>
          <p class="amount">€ {{transaction.amount}}</p>
          <p class="date">
            {{transaction.date.toLocaleDateString()}}
          </p>
          <button mat-icon-button class="clear">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </ng-container>
    </cdk-virtual-scroll-viewport>

    <div class="options">
      <button mat-icon-button (click)="clearOptionsIncome();" class="removeFilter" *ngIf=incomeActive>
        <mat-icon>clear</mat-icon>
      </button>
      <button mat-icon-button (click)="clearOptionsOutcome();" class="removeFilter" *ngIf=!incomeActive>
        <mat-icon>clear</mat-icon>
      </button>
      <div class="datepicker">
        <div class="incomeDate" *ngIf=incomeActive>
          <mat-form-field>
            <input matInput [matDatepicker]="picker1" placeholder="Kies maand">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1 (monthSelected)="updateIncomeDate($event)" startView="multi-year">
            </mat-datepicker>
          </mat-form-field>
        </div>

        <div class="outcomeDate" *ngIf=!incomeActive>
          <mat-form-field>
            <input matInput [matDatepicker]="picker2" placeholder="Kies maand">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 (monthSelected)="updateOutcomeDate($event)" startView="multi-year">
            </mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="incomeCategory" *ngIf=incomeActive>
        <mat-form-field #cat1>
          <mat-label>Categorie</mat-label>
          <mat-select (selectionChange)=' updateIncomeCategory($event)' multiple>
            <mat-option *ngFor='let category of getUser().getIncomeCategories()' [value]='category.name'>
              {{category.name}}
            </mat-option>
            <mat-option value="all">
              Allemaal
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="outcomeCategory" *ngIf=!incomeActive>
        <mat-form-field>
          <mat-label>Categorie</mat-label>
          <mat-select (selectionChange)='updateOutcomeCategory($event)' multiple>
            <mat-option *ngFor='let category of getUser().getOutcomeCategories()' [value]='category.name'>
              {{category.name}}
            </mat-option>
            <mat-option value="all">
              Allemaal
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
  </div>
</div>
<app-menu></app-menu>
