<div class="container_menu">
  <div class="menubar">
    <i class="fas fa-list menucollapse" (click)="toggleMenu()" href="#"></i>
    <img src="../../assets/titelWhite2.png" class="titelMenubar">
  </div>
  <div class="menu" *ngIf=showMenu>
    <ul class="links">
      <li> <img src="../../assets/titelWhite2.png" class="titelMenu"></li>

      <li class="line">
        <mat-icon class="icon_menu">timeline</mat-icon><a href="#" [routerLink]="['../transacties']">Transacties</a>
      </li>
      <!-- <li class="line">
        <mat-icon class="icon_menu">account_balance</mat-icon><a href="#">Investeringen</a>
      </li> -->
      <!-- <li class="line">
        <mat-icon class="icon_menu">event_note</mat-icon><a href="#">Goals</a>
      </li> -->
      <li class="line">
        <mat-icon class="icon_menu">category</mat-icon><a href="#" [routerLink]="['../categorieën']">Categorieën</a>
      </li>
      <li class="line">
        <i class="icon_menu fab fa-cc-visa"></i><a href="#" [routerLink]="['../bankrekeningen']">Bankrekening</a>
      </li>
      <li class="line">
          <i class="icon_menu fas fa-money-check-alt"></i><a href="#" [routerLink]="['../leningen']">Leningen</a>
      </li>
      <li class="line">
        <mat-icon class="icon_menu">account_circle</mat-icon><a href="#">Log uit</a>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
