.container {
  width: 100vw;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f6f5f6;
}

.menubar {
  width: 100vw;
  height: 80px;
  background-color: #283593;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  top: 0;
}

.menucollapse {
  color: white;
  font-size: 30px;
  margin-top: 25px;
  position: absolute;
  left: 20px;
}

.titelMenubar {
  height: 15px;
  margin-top: 32.5px;
  display: none;
}

.titelMenu {
  display: none;
}

.menu {
  width: 30vw;
  min-width: 116px;
  height: 90vh;
  background-color: #1A237E;
  color: white;
  border-radius: 0 10px 10px 0;
  position: fixed;
  z-index: 100;
  top: 80px;
}

.links li {
  padding: 10%;
}

.links a {
  color: white;
  text-decoration: none;
}

.icon {
  display: none;
}


@media screen and (min-width:370px) {
  .titelMenubar {
    display: block;

  }

  .menucollapse {
    color: white;
    font-size: 30px;
    margin-top: 25px;
  }
}

@media screen and (min-width:560px) {
  .menubar {
    display: none;
  }

  .menu {
    display: block;
    top: 0;
    height: 100vh;
    width: 240px;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    font-size: 12px;
  }


  .line {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: flex-start;
    font-size: 20px;
  }

  .icon {
    font-size: 20px;
    display: block;
    margin-right: 10px;
  }

  .titelMenu {
    display: block;
    width: 100%;
  }

  .line a:hover {
    color: #283593;
  }
}

@media screen and (min-width:1000px) {
  .menu {
    width: 18vw;
    max-width:200px;
    height: 80vh;
    margin-top: 10vh;
    border-radius: 15px;
  }
  .line {
    margin:0;
  }

}
