<div class="container_dialog">
  <mat-card-title>Reset wachtwoord</mat-card-title>
  <mat-dialog-content>
    <p>Geef het email in waarvoor je jouw wachtwoord wilt resetten.</p>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" />
        <mat-error *ngIf="form.get('email').invalid">{{
          getErrorMessage("email")
        }}</mat-error>
      </mat-form-field>
      <mat-dialog-actions>
        <button mat-raised-button type="submit">
          Verstuur email
        </button>
        <button mat-raised-button matDialogClose (click)="close()">
          Annuleer
        </button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
</div>
