<div class="container">
  <mat-card style="display: block" class="graph" *ngIf='chartActive===0 && smallScreen() || !smallScreen()'
    (swipeleft)=swipeLeft() (swiperight)=swipeRight()>
    <p class="name">{{currentCategory.name}}</p>
    <mat-icon [ngStyle]="{'color': currentCategory.color, 'background-color':'#f6f5f6'}" class="icon">
      {{currentCategory.icon}}
    </mat-icon>
    <p class="type">Totaal uitgegeven deze maand: <br> € {{calculateTotalSpendOnCategory()}}</p>
  </mat-card>

  <mat-card style="display: block" class="graph matcardNoPaddingTop"
    *ngIf='chartActive===1 && smallScreen() || !smallScreen()' (swipeleft)=swipeLeft() (swiperight)=swipeRight()
    id="totalYearChart">
    <p class="tab">Jaarlijks totaaloverzicht</p>
    <mat-form-field class="updateTotalYear">
      <mat-label>Jaartal</mat-label>
      <mat-select (selectionChange)='updateTotalYear($event)'>
        <mat-option *ngFor='let year of getUser().getAllYears()' [value]='year'>
          {{year}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <canvas baseChart [datasets]="data" [labels]="labels" [options]="options" [legend]="legend" [chartType]="chart"
      [colors]="chartColors">
    </canvas>
    <p *ngIf='!noError()' class="noGraph">Geen grafiek mogelijk.</p>
  </mat-card>

  <mat-card *ngIf='showCreate' class="graph matcardNoPaddingTop">
    <p class='tab'>Categorie aanmaken</p>
    <form [formGroup]='form' (ngSubmit)='onSubmit()' class="form">
      <mat-radio-group aria-label="Select an option" formControlName="type">
        <mat-radio-button value="income" class="radio">Inkomst</mat-radio-button>
        <mat-radio-button value="outcome">Uitgave</mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="form.get('type').invalid">
        {{getErrorMessage("type")}}
      </mat-error>
      <mat-form-field>
        <input matInput placeholder="Naam categorie" formControlName="name">
        <mat-error *ngIf="form.get('name').invalid">
          {{getErrorMessage("name")}}
        </mat-error>
      </mat-form-field>

      <span [style.color]="color" [cpPosition]="'bottom'" [cpPositionOffset]="'0%'" [cpPositionRelativeToArrow]="true"
        [(colorPicker)]="color" (colorPickerChange)="changeColor($event)" id="colorpicker">Kies kleur!</span>
        <mat-error *ngIf="form.get('color').invalid">
          {{getErrorMessage("color")}}
        </mat-error>

      <div class="icons">
        <i class="{{icon}} icon {{icon===selectedIcon?'selectedIcon':''}}" *ngFor="let icon of fixedCategoriesIcons" [ngStyle]="{'color':form.get('color').value,'background-color':'white'}"
          (click)="changeIcon(icon)"></i>
      </div>

      <mat-dialog-actions>
        <button id='Toevoegen' mat-raised-button mat-primary type="submit">Toevoegen</button>
        <button mat-raised-button (click)="toggleCreate()">Annuleer</button>
      </mat-dialog-actions>
    </form>
  </mat-card>

  <mat-card class="matcardNoPaddingTop">
    <p class="tab">Categorieën</p>
    <div class="metadata">
      <p>Oversight</p>
      <p> € {{getUser().calculateShortOversight()}}</p>
      <button class="addCategory" (click)='toggleCreate()'>Voeg een categorie toe</button>
      <div class="error" *ngIf="error!==''">
        <p>{{error}}</p>
      </div>
    </div>

    <cdk-virtual-scroll-viewport class="categories" itemSize="100" style="height: 240px">
      <ng-container *cdkVirtualFor='let category of getCategories(); index as i'>
        <div class="category" [ngStyle]="{'background-color':i % 2 == 0?'#f6f5f6':'white'}"
          (click)="setCategory(category)">
          <mat-icon [ngStyle]="{'color': category.color, 'background-color':i % 2 == 0?'white':'#f6f5f6'}" class="icon">
            {{category.icon}}
          </mat-icon>
          <p class="name">{{category.name}}</p>
          <p class="type">{{category.type}}</p>
          <button mat-icon-button class="clear">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </mat-card>

  <app-menu></app-menu>

</div>
