<div class="container">
  <h1>De nieuwste manier <br id="br"> om jouw financieën bij te houden</h1>
  <div class="container_logo">
    <img src="../../assets/Oversight.png" id="logo">
    <img src="../../assets/OversightTitel.png" id="logo2">
  </div>
  <div class="blue_container">
    <img src="../../assets/titelWhite2.png" id="titel">
    <a class="button_blue" href="#" [routerLink]="['../login']">LOG IN</a>
    <a class="button_white" href="#" [routerLink]="['../register']">ONTDEK ONS</a>

    <div class="uitleg_white">
      <h1>Wat is het juist?</h1>
      <p><b>OVERSIGHT</b> biedt een makkelijke manier om je persoonlijke uitgaves, inkomen en investeringen te
        monitoren.
        Tijdens het gebruik van deze webapplicaties leer je allerlei tips hoe je het best kan sparen</p>
    </div>
  </div>
  <div class="uitleg_blue">
    <h1>Wat is het kostenplaatje?</h1>
    <p>Aangezien <b>OVERSIGHT</b> dient om je te helpen sparen, vragen wij geen groot bedrag. Het bedrag van 4.99 euro
      per
      maand zal de onkosten en toekomstige updates vergoeden. </p>
  </div>
</div>
