<div class="container">
  <h1>Log in</h1>
  <form class="form" [formGroup]='login' (ngSubmit)="onSubmit()">
    <mat-form-field class="input">
      <input matInput placeholder="Email" formControlName="email">
      <mat-error *ngIf='login.get("email").invalid'>{{getErrorMessage("email")}}</mat-error>
    </mat-form-field>
    <mat-form-field class="input">
      <input matInput placeholder="Wachtwoord" formControlName="password" type="password">
      <mat-error *ngIf='login.get("password").invalid'>{{getErrorMessage("password")}}</mat-error>
    </mat-form-field>
    <button class="button_blue" type="submit">LOG IN</button>
    <button class="button_blue" onclick='resetPassword()'>Wachtwoord vergeten</button>

  </form>
</div>
