.container_login {
  width: 100vw;
  height: 100vh;
  background-image: url(../../../assets/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Roboto, "Open-sans", sans-serif;
}

h1 {
  width: 100vw;
  height: 5vh;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding-top: 5vh;
}

.form_login {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  background-color: white;
  border-radius: 20px 20px 0 0;
}

.form_login .input {
  width: 80vw;
  margin-left: 10vw;
}
.form_login .input:nth-child(1) {
  margin-top: 20px;
}
.button_blue {
  width: 80vw;
  margin-left: 10vw;
}

.button_white {
  width: 80vw;
  margin-left: 10vw;
  margin-top: 20px;
}

.container_lg {
  display: none;
}
@media screen and (min-width: 1000px) {
  .container_login {
    display: none;
  }
  .container_lg {
    display: block;
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: row;
    font-family: Roboto, "Open-sans", sans-serif;
  }
  .content_left{
    width:40vw;
    height:80vh;
    background-color:#FFFFFF;
    margin-left:10vw;
    margin-top:10vh;
    border-radius:20px 0 0 20px;
    padding-right:1px;

  }

  .content_right{
    width:40vw;
    height:80vh;
    background-color:#F6F5F6;
    margin-right:10vw;
    margin-top:10vh;
    border-radius:0 20px 20px 0;

  }

  h1 {
    width: 100%;
    height: 20px;
    text-align: center;
    color: #1A237E;
    font-weight: bold;
    font-size: 30px;
  }

  .form_login {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top:50px;
    margin-left:10%;
    height: unset;
    background-color: unset;
    border-radius: 0px;
  }
  .form_login .input {
    width: unset;
    margin-left: unset;
  }
  .form_login .input:nth-child(1) {
    margin-top: unset;
  }
  .button_blue {
    width: unset;
    margin-left: unset;
    margin-top:20px;
  }

  .button_white {
    width: unset;
    margin-left: 10%;
    margin-top: 20px;
    width:80%;
  }

  .slide{
    width:90%;
    margin-top:10%;
    margin-left:5%;
  }

}
